[submodule "tag-vim/vim/bundle/vim-pathogen"]
	path = tag-vim/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "tag-vim/vim/bundle/vim-fugitive"]
	path = tag-vim/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "tag-vim/vim/bundle/vim-colors-solarized"]
	path = tag-vim/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "tag-vim/vim/bundle/vim-lightline"]
	path = tag-vim/vim/bundle/vim-lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "tag-ruby/rbenv/plugins/rbenv-default-gems"]
	path = tag-ruby/rbenv/plugins/rbenv-default-gems
	url = https://github.com/sstephenson/rbenv-default-gems.git
[submodule "utils/solarized"]
	path = utils/solarized
	url = https://github.com/altercation/solarized.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
